
#忽略文件设置
/KillVirus_ott/*
!/KillVirus_ott/Assets/ftproject/script/

/PigvsZombie_ott
/*.rar
/消灭病毒源码
/消灭病毒程序资料
/CVS
/Ftbaseproject_ott_new
/Ftbaseproject_ott_new_3dselectcharacter
/KillVirus
/KillVirus_ott - 副本
/KillVirus_ott-server
/*.txt
/KillVirus_ott-lc
