*.sln

*.csproj
*.meta
*.png

.cvsignore
Assets/BuildReport
Assets/CameraPath3
Assets/CodeStage
Assets/Demigiant
Assets/DragonBones
Assets/Editor
Assets/Editor Default Resources
Assets/Events
Assets/FontSetter
Assets/KillVirus
Assets/NGUI
Assets/Plugins
Assets/Pools
Assets/QRcode
Assets/scene
Assets/StateMachine
Assets/StreamingAssets
Assets/temp
Assets/Tool
Assets/UnityPackages
Assets/ftproject/assets
Assets/ftproject/config
Assets/ftproject/Editor
Assets/ftproject/QRcode
Assets/ftproject/sence
Assets/ftproject/VirtualJoystick

.vs
CVS
Data
Library
obj
ProjectSettings
UnityPackageManager
/*.gitattributes
